body{
    color: rgb(14, 39, 61);
    background-color: aliceblue ;
}

h1{
    color: rgb(14, 39, 61);
    text-align:  center;
    text-transform:uppercase;
}

li a{
    color: rgb(14, 39, 61);
    font-family: 'Times New Roman';
    font-size: 20px;
}